@media (max-width: 768px) {

  .top-delivery{
    display: flex;
    flex-direction: column;
    direction: rtl;
  }
.topTols-delivery{
    display: flex;
    flex-direction: column;
}
.itemTols-delivery{
  display: flex;
    flex-direction: column;
}
  }